{
  "swagger": "2.0",
  "info": {
    "description": "Partner API for Contio MeetingOS - External partner integration endpoints",
    "title": "Contio MeetingOS Partner API",
    "termsOfService": "https://contio.ai/tos",
    "contact": {
      "name": "Contio MeetingOS Partner Support",
      "url": "https://contio.ai/contact",
      "email": "partner-support@contio.ai"
    },
    "license": {
      "name": "MIT/Commercial",
      "url": "https://docs.contio.ai/partner-api/license/"
    },
    "version": "1.4.6"
  },
  "host": "api.contio.ai",
  "basePath": "/",
  "paths": {
    "/.well-known/jwks.json": {
      "get": {
        "description": "Returns the JSON Web Key Set for token verification",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "JSON Web Key Set Endpoint",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.JWKSResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/.well-known/openid_configuration": {
      "get": {
        "description": "Returns the OpenID Connect discovery document",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OpenID Connect Discovery Endpoint",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.DiscoveryDocument"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/auth/initiate": {
      "post": {
        "description": "Initiates passwordless authentication for partner OAuth flow with client-specific SECRET_HASH. Supports optional workspace_id to provision users into a shared workspace instead of creating a personal one, and is_admin to grant admin role in that workspace.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Initiate Partner Passwordless Authentication",
        "parameters": [
          {
            "description": "Partner authentication initiation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth.PartnerAuthInitiateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.PartnerAuthInitiateResponse"
            }
          },
          "400": {
            "description": "Invalid request format or workspace_id is not a valid UUID",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "403": {
            "description": "Workspace does not belong to this partner (workspace_not_authorized)",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Specified workspace_id does not exist (workspace_not_found)",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "User already belongs to a different workspace (workspace_conflict). Includes workspace_id field.",
            "schema": {
              "$ref": "#/definitions/errors.PartnerConflictErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "description": "Verifies OTP code for partner OAuth flow with client-specific SECRET_HASH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Verify Partner Passwordless Authentication",
        "parameters": [
          {
            "description": "Partner authentication verification request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth.PartnerAuthVerifyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.PartnerAuthResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/authorize": {
      "get": {
        "description": "Handles OAuth 2.0 authorization requests for partner applications",
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OAuth 2.0 Authorization Endpoint",
        "parameters": [
          {
            "type": "string",
            "description": "OAuth response type (code)",
            "name": "response_type",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth client ID",
            "name": "client_id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth redirect URI",
            "name": "redirect_uri",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth scopes",
            "name": "scope",
            "in": "query"
          },
          {
            "type": "string",
            "description": "OAuth state parameter",
            "name": "state",
            "in": "query"
          },
          {
            "type": "string",
            "description": "PKCE code challenge",
            "name": "code_challenge",
            "in": "query"
          },
          {
            "type": "string",
            "description": "PKCE code challenge method",
            "name": "code_challenge_method",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to authorization URL"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Completes OAuth 2.0 authorization after user consent and returns Cognito authorization code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Complete OAuth 2.0 Authorization",
        "parameters": [
          {
            "description": "OAuth consent request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth.OAuthConsentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization completed successfully",
            "schema": {
              "$ref": "#/definitions/oauth.OAuthConsentResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/oauth2/check-consent": {
      "post": {
        "description": "Checks if user has already consented to the requested scopes and can skip consent page",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Check Existing Consent",
        "parameters": [
          {
            "description": "Consent check request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth.OAuthConsentCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.OAuthConsentCheckResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/health": {
      "get": {
        "description": "Tests connectivity to Cognito and returns service status",
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Health Check for OAuth/Cognito Service",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.HealthResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/introspect": {
      "post": {
        "description": "Introspects access tokens to get token information",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OAuth 2.0 Token Introspection Endpoint",
        "parameters": [
          {
            "type": "string",
            "description": "Access token to introspect",
            "name": "token",
            "in": "formData",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.TokenIntrospection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "description": "Revokes an access or refresh token. Per RFC 7009, returns success even for invalid tokens.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OAuth 2.0 Token Revocation Endpoint",
        "parameters": [
          {
            "type": "string",
            "description": "Token to revoke",
            "name": "token",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Hint about token type (access_token or refresh_token)",
            "name": "token_type_hint",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "Token revoked successfully"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/scopes": {
      "get": {
        "description": "Returns the list of all available OAuth scopes for partner applications",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Get Available OAuth Scopes",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.ScopesResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "description": "Exchanges authorization code for access tokens",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OAuth 2.0 Token Endpoint",
        "parameters": [
          {
            "type": "string",
            "description": "OAuth grant type (authorization_code)",
            "name": "grant_type",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Authorization code",
            "name": "code",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth redirect URI",
            "name": "redirect_uri",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth client ID",
            "name": "client_id",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth client secret",
            "name": "client_secret",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "PKCE code verifier",
            "name": "code_verifier",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.TokenResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/userInfo": {
      "get": {
        "description": "Returns user information for the provided access token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Get user information",
        "parameters": [
          {
            "type": "string",
            "description": "Bearer access token",
            "name": "Authorization",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.UserInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/app": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves information about the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "App Management"
        ],
        "summary": "Get partner app information",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.PartnerAppResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates partner app details like name, description, and webhook URL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "App Management"
        ],
        "summary": "Update partner app",
        "parameters": [
          {
            "description": "Update app request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.UpdateAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.PartnerAppResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/admin.UpdateAppError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/app/status": {
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates the status of the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "App Management"
        ],
        "summary": "Update partner app status",
        "parameters": [
          {
            "description": "Status update request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.UpdateAppStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.PartnerAppResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/admin.UpdateAppStatusError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/connections": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves user connections for the authenticated partner app with pagination and filtering",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Connection Management"
        ],
        "summary": "Get user connections",
        "parameters": [
          {
            "type": "integer",
            "default": 50,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"123e4567-e89b-12d3-a456-426614174000\"",
            "description": "Filter by user ID",
            "name": "user_id",
            "in": "query"
          },
          {
            "enum": [
              "active",
              "revoked",
              "expired"
            ],
            "type": "string",
            "description": "Filter by connection status",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.ListResponse-admin_UserConnectionResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/connections/{connectionId}": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a specific user connection by ID if it belongs to the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Connection Management"
        ],
        "summary": "Get user connection by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Connection ID",
            "name": "connectionId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.UserConnectionResponse"
            }
          },
          "400": {
            "description": "Invalid connection ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Connection not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Revokes a user connection by ID if it belongs to the authenticated partner app",
        "tags": [
          "Connection Management"
        ],
        "summary": "Revoke user connection",
        "parameters": [
          {
            "type": "string",
            "description": "Connection ID",
            "name": "connectionId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid connection ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Connection not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Returns the status, age, and health information for all partner credentials",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Get credential status",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/admin.CredentialStatusResponse"
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/api-key/rollback": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Restores the API key to the prior value after rotation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rollback API key",
        "parameters": [
          {
            "description": "Rollback request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.CredentialRollbackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rollback successful"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/api-key/rotate": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Rotates the API key with optional grace period",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rotate API key",
        "parameters": [
          {
            "description": "Rotation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.CredentialRotationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.CredentialRotationResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/admin.RotateAPIKeyError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/client-secret/rollback": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Restores the client secret to the prior value after rotation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rollback Client secret",
        "parameters": [
          {
            "description": "Rollback request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.CredentialRollbackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rollback successful"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/client-secret/rotate": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Rotates the client secret with optional grace period",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rotate client secret",
        "parameters": [
          {
            "description": "Rotation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.CredentialRotationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.CredentialRotationResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/admin.RotateClientSecretError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/history": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Returns the audit history for credential operations",
        "produces": [
          "application/json"
        ],
        "tags": [
          "App Management"
        ],
        "summary": "Get audit history",
        "parameters": [
          {
            "type": "integer",
            "default": 20,
            "description": "Number of events to return",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Number of events to skip",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by credential type",
            "name": "credential_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/webhook-secret/rotate": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Rotates the webhook secret with optional grace period",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rotate webhook secret",
        "parameters": [
          {
            "description": "Rotation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.CredentialRotationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.CredentialRotationResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/admin.RotateWebhookSecretError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/idp": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves the OIDC IdP configuration for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "IdP Management"
        ],
        "summary": "Get IdP configuration",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.IdPConfigResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates the OIDC IdP configuration for the authenticated partner app. Note: idp_client_id and idp_client_secret are the OIDC credentials from your Identity Provider (e.g., Okta, Azure AD), NOT your Contio Partner OAuth credentials.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "IdP Management"
        ],
        "summary": "Update IdP configuration",
        "parameters": [
          {
            "description": "IdP configuration update data",
            "name": "config",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.UpdateIdPConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.IdPConfigResponse"
            }
          },
          "400": {
            "description": "Invalid request body or validation error",
            "schema": {
              "$ref": "#/definitions/admin.UpdateIdPConfigError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "IdP config not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "Domain already claimed",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Creates a new OIDC IdP configuration for the authenticated partner app. Note: idp_client_id and idp_client_secret are the OIDC credentials from your Identity Provider (e.g., Okta, Azure AD), NOT your Contio Partner OAuth credentials.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "IdP Management"
        ],
        "summary": "Create IdP configuration",
        "parameters": [
          {
            "description": "IdP configuration data",
            "name": "config",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.CreateIdPConfigRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/admin.IdPConfigResponse"
            }
          },
          "400": {
            "description": "Invalid request body or validation error",
            "schema": {
              "$ref": "#/definitions/admin.CreateIdPConfigError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "IdP config already exists",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Deletes the OIDC IdP configuration for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "IdP Management"
        ],
        "summary": "Delete IdP configuration",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-deliveries": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves webhook deliveries for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "List webhook deliveries",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by delivery status (pending, delivered, failed, abandoned)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by event type (e.g., meeting.created, workflow.assignment.created)",
            "name": "event_type",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Maximum number of results to return (default 50, max 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Number of results to skip (default 0)",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.WebhookDeliveriesResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-deliveries/{deliveryId}": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a specific webhook delivery by ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "Get webhook delivery",
        "parameters": [
          {
            "type": "string",
            "description": "Webhook Delivery ID",
            "name": "deliveryId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.WebhookDeliveryResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Webhook delivery not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-deliveries/{deliveryId}/retry": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retries a failed webhook delivery",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "Retry webhook delivery",
        "parameters": [
          {
            "type": "string",
            "description": "Webhook Delivery ID",
            "name": "deliveryId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Webhook delivery not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-filter": {
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Configures include or exclude event filtering for webhook delivery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update partner app webhook filter",
        "parameters": [
          {
            "description": "Webhook filter update request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.SetWebhookFilterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.PartnerAppResponse"
            }
          },
          "400": {
            "description": "Invalid request body or event types",
            "schema": {
              "$ref": "#/definitions/admin.UpdateWebhookFilterError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Removes webhook event filtering for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "Remove partner app webhook filter",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.PartnerAppResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-status": {
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Enables or disables webhook delivery for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update partner app webhook status",
        "parameters": [
          {
            "description": "Webhook status update request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.UpdateWebhookStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.PartnerAppResponse"
            }
          },
          "400": {
            "description": "Invalid request body or pending disposition",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/workflows": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves all workflows for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Workflow Management"
        ],
        "summary": "Get workflows",
        "parameters": [
          {
            "type": "integer",
            "default": 50,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.ListResponse-admin_WorkflowResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Creates a new workflow for action item matching",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Workflow Management"
        ],
        "summary": "Create a new workflow",
        "parameters": [
          {
            "description": "Workflow data",
            "name": "workflow",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.CreateWorkflowRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/admin.WorkflowResponse"
            }
          },
          "400": {
            "description": "Invalid request body or validation error",
            "schema": {
              "$ref": "#/definitions/admin.CreateWorkflowError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/workflows/{workflowId}": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a specific workflow by ID for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Workflow Management"
        ],
        "summary": "Get workflow by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Workflow ID",
            "name": "workflowId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.WorkflowResponse"
            }
          },
          "400": {
            "description": "Invalid workflow ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Workflow not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates a specific workflow for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Workflow Management"
        ],
        "summary": "Update workflow",
        "parameters": [
          {
            "type": "string",
            "description": "Workflow ID",
            "name": "workflowId",
            "in": "path",
            "required": true
          },
          {
            "description": "Workflow update data",
            "name": "workflow",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/admin.UpdateWorkflowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/admin.WorkflowResponse"
            }
          },
          "400": {
            "description": "Invalid request body or validation error",
            "schema": {
              "$ref": "#/definitions/admin.UpdateWorkflowError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Workflow not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Deletes a workflow by ID",
        "tags": [
          "Workflow Management"
        ],
        "summary": "Delete workflow",
        "parameters": [
          {
            "type": "string",
            "description": "Workflow ID",
            "name": "workflowId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Workflow not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/info/{client_id}/public": {
      "get": {
        "description": "Returns safe public partner app information for display in OAuth login/consent pages. This endpoint does not require client authentication and only returns safe public information like name and company.",
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Get Public Partner Information by Client ID",
        "parameters": [
          {
            "type": "string",
            "description": "Partner Client ID",
            "name": "client_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.PartnerInfoResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/sso/callback": {
      "get": {
        "description": "Handles the OIDC callback from the partner's identity provider. Exchanges the authorization code for tokens, validates the ID token, and provisions or authenticates the user.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Single Sign-On"
        ],
        "summary": "Handle partner SSO callback",
        "parameters": [
          {
            "type": "string",
            "description": "Authorization code from IdP",
            "name": "code",
            "in": "query"
          },
          {
            "type": "string",
            "description": "State parameter for session validation",
            "name": "state",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "Error code if authentication failed",
            "name": "error",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Error description if authentication failed",
            "name": "error_description",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to application after successful authentication",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid request or authentication error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Authentication failed",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/v1/partner/sso/info/{slug}": {
      "get": {
        "description": "Returns partner branding and SSO configuration status for landing pages. This endpoint is publicly accessible and rate-limited.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Single Sign-On"
        ],
        "summary": "Get partner SSO information",
        "parameters": [
          {
            "type": "string",
            "description": "Partner slug",
            "name": "slug",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Partner SSO information returned",
            "schema": {
              "$ref": "#/definitions/sso.PartnerSSOInfoResponse"
            }
          },
          "404": {
            "description": "Partner not found",
            "schema": {
              "$ref": "#/definitions/sso.ErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/sso.ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/sso/initiate": {
      "get": {
        "description": "Starts the SSO authentication flow for a partner's identity provider. Looks up the partner by slug, retrieves IdP configuration, generates PKCE parameters, and returns an authorization URL.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Single Sign-On"
        ],
        "summary": "Initiate partner SSO flow",
        "parameters": [
          {
            "type": "string",
            "description": "Partner app slug",
            "name": "slug",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "web",
              "desktop",
              "backlog"
            ],
            "type": "string",
            "description": "Target platform: web (default), desktop, backlog, or meeting:{id}",
            "name": "target",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Auto-redirect to authorization URL",
            "name": "auto",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization URL and session ID",
            "schema": {
              "$ref": "#/definitions/sso.InitiateResponse"
            }
          },
          "302": {
            "description": "Redirect to authorization URL (when auto=true)",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Partner not found or IdP not configured",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/v1/partner/sso/session/{session_id}": {
      "get": {
        "description": "Returns the current status of a partner SSO session for polling. Used by clients to check if authentication has completed.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Single Sign-On"
        ],
        "summary": "Get partner SSO session status",
        "parameters": [
          {
            "type": "string",
            "description": "Session ID",
            "name": "session_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Session status",
            "schema": {
              "$ref": "#/definitions/sso.SessionStatusResponse"
            }
          },
          "400": {
            "description": "Invalid session ID",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "404": {
            "description": "Session not found",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/v1/partner/user/action-items": {
      "get": {
        "security": [
          {
            "OAuth2Application": [
              "action-items:read"
            ]
          }
        ],
        "description": "Retrieves action items accessible to the authenticated partner user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Action Items"
        ],
        "summary": "Get action items",
        "parameters": [
          {
            "type": "integer",
            "default": 25,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"123e4567-e89b-12d3-a456-426614174000\"",
            "description": "Filter by meeting ID",
            "name": "meeting_id",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Filter by completion status",
            "name": "is_completed",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Filter by partner assignment",
            "name": "has_partner_assignment",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"2023-01-01T00:00:00Z\"",
            "description": "Filter by start date (ISO 8601)",
            "name": "start_date",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"2023-12-31T23:59:59Z\"",
            "description": "Filter by end date (ISO 8601)",
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/shared.ListResponse-action_item_PartnerActionItemResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/action_item.GetActionItemsError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "OAuth2Application": [
              "action-items:write"
            ]
          }
        ],
        "description": "Creates a new action item on behalf of the authenticated user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Action Items"
        ],
        "summary": "Create action item",
        "parameters": [
          {
            "description": "Action item data",
            "name": "action_item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/action_item.CreateActionItemRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/action_item.PartnerActionItemResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/action_item.CreateActionItemError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/action-items/{id}": {
      "get": {
        "security": [
          {
            "OAuth2Application": [
              "action-items:read"
            ]
          }
        ],
        "description": "Retrieves a specific action item by ID if accessible to the authenticated partner user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Action Items"
        ],
        "summary": "Get action item by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Action Item ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/action_item.PartnerActionItemResponse"
            }
          },
          "400": {
            "description": "Invalid action item ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Action item not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "OAuth2Application": [
              "action-items:write"
            ]
          }
        ],
        "description": "Updates an existing action item if accessible to the authenticated user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Action Items"
        ],
        "summary": "Update action item",
        "parameters": [
          {
            "type": "string",
            "description": "Action Item ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Action item update data",
            "name": "action_item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/action_item.UpdateActionItemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/action_item.PartnerActionItemResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/action_item.UpdateActionItemError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Action item not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "OAuth2Application": [
              "action-items:write"
            ]
          }
        ],
        "description": "Deletes an action item if accessible to the authenticated user",
        "tags": [
          "Action Items"
        ],
        "summary": "Delete action item",
        "parameters": [
          {
            "type": "string",
            "description": "Action Item ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid action item ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Action item not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/calendar/events": {
      "get": {
        "security": [
          {
            "OAuth2Application": [
              "calendar:read"
            ]
          }
        ],
        "description": "Retrieve a paginated list of calendar events for the authenticated user within a specified time range",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Calendar"
        ],
        "summary": "Get calendar events",
        "parameters": [
          {
            "type": "string",
            "example": "\"2023-01-01T00:00:00Z\"",
            "description": "Start time in RFC3339 format (preferred)",
            "name": "start_date",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"2023-01-31T23:59:59Z\"",
            "description": "End time in RFC3339 format (preferred)",
            "name": "end_date",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"2023-01-01T00:00:00Z\"",
            "description": "Deprecated: Use start_date instead",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"2023-01-31T23:59:59Z\"",
            "description": "Deprecated: Use end_date instead",
            "name": "end",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Number of results per page (default 25, max 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Pagination offset (default 0)",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Sort direction: asc or desc (default: asc)",
            "name": "direction",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/shared.ListResponse-calendar_PartnerCalendarEventResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/calendar.GetCalendarEventsError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/calendar/events/{calendar_event_id}": {
      "get": {
        "security": [
          {
            "OAuth2Application": [
              "calendar:read"
            ]
          }
        ],
        "description": "Retrieve details of a specific calendar event for the authenticated user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Calendar"
        ],
        "summary": "Get calendar event by ID",
        "parameters": [
          {
            "type": "string",
            "example": "\"123e4567-e89b-12d3-a456-426614174006\"",
            "description": "Calendar Event ID",
            "name": "calendar_event_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/calendar.PartnerCalendarEventResponse"
            }
          },
          "400": {
            "description": "Invalid calendar event ID format",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "403": {
            "description": "User does not have access to this calendar event",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Calendar event not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/calendar/events/{calendar_event_id}/meeting": {
      "post": {
        "security": [
          {
            "OAuth2Application": [
              "calendar:write"
            ]
          }
        ],
        "description": "Creates a new meeting by copying details from a calendar event",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Calendar"
        ],
        "summary": "Create meeting from calendar event",
        "parameters": [
          {
            "type": "string",
            "example": "\"123e4567-e89b-12d3-a456-426614174006\"",
            "description": "Calendar Event ID",
            "name": "calendar_event_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting already exists for this calendar event",
            "schema": {
              "$ref": "#/definitions/calendar.PartnerCreateMeetingFromCalendarEventResponse"
            }
          },
          "201": {
            "description": "Meeting created successfully",
            "schema": {
              "$ref": "#/definitions/calendar.PartnerCreateMeetingFromCalendarEventResponse"
            }
          },
          "400": {
            "description": "Invalid calendar event ID",
            "schema": {
              "$ref": "#/definitions/calendar.CreateMeetingFromCalendarEventError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Calendar event not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/meetings": {
      "get": {
        "security": [
          {
            "OAuth2Application": [
              "meetings:read"
            ]
          }
        ],
        "description": "Retrieves meetings accessible to the authenticated partner user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Meetings"
        ],
        "summary": "Get meetings",
        "parameters": [
          {
            "type": "integer",
            "default": 25,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"2023-01-01T00:00:00Z\"",
            "description": "Start date filter (ISO 8601)",
            "name": "start_date",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"2023-12-31T23:59:59Z\"",
            "description": "End date filter (ISO 8601)",
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/shared.ListResponse-shared_PartnerMeetingResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/meeting.GetMeetingsError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "OAuth2Application": [
              "meetings:write"
            ]
          }
        ],
        "description": "Creates a new meeting on behalf of the authenticated partner user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Meetings"
        ],
        "summary": "Create meeting",
        "parameters": [
          {
            "description": "Meeting data",
            "name": "meeting",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/meeting.PartnerCreateMeetingRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/shared.PartnerMeetingResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/meeting.CreateMeetingError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/meetings/{id}": {
      "get": {
        "security": [
          {
            "OAuth2Application": [
              "meetings:read"
            ]
          }
        ],
        "description": "Retrieves a specific meeting by ID if accessible to the authenticated partner user. When the autopilot_smart_redirect feature flag is enabled and the meeting has been copied to the user's workspace, the response will contain only the redirect_to_meeting_id field pointing to the workspace copy. Clients should follow this redirect to access the correct meeting. The Partner SDK handles this automatically.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Meetings"
        ],
        "summary": "Get meeting by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Meeting ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting details or smart redirect hint (redirect_to_meeting_id field only when redirecting)",
            "schema": {
              "$ref": "#/definitions/shared.PartnerMeetingResponse"
            }
          },
          "400": {
            "description": "Invalid meeting ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Meeting not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "OAuth2Application": [
              "meetings:write"
            ]
          }
        ],
        "description": "Updates an existing meeting if accessible to the authenticated partner user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Meetings"
        ],
        "summary": "Update meeting",
        "parameters": [
          {
            "type": "string",
            "description": "Meeting ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Meeting update data",
            "name": "meeting",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/meeting.PartnerUpdateMeetingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/shared.PartnerMeetingResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/meeting.UpdateMeetingError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Meeting not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/meetings/{id}/agenda-items": {
      "get": {
        "security": [
          {
            "OAuth2Application": [
              "meetings:read"
            ]
          }
        ],
        "description": "Retrieves all agenda items for a specific meeting. Filters out items restricted to leads if the user is not an editor.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Meetings"
        ],
        "summary": "Get agenda items for a meeting",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Meeting ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/shared.ListResponse-meeting_PartnerAgendaItemResponse"
            }
          },
          "400": {
            "description": "Invalid meeting ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Meeting not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/meetings/{id}/calendar/link": {
      "post": {
        "security": [
          {
            "OAuth2Application": [
              "calendar:write"
            ]
          }
        ],
        "description": "Link an existing calendar event to a specific meeting",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Calendar"
        ],
        "summary": "Link calendar event to meeting",
        "parameters": [
          {
            "type": "string",
            "example": "\"123e4567-e89b-12d3-a456-426614174000\"",
            "description": "Meeting ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Link calendar event request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/calendar.PartnerLinkCalendarEventRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting linked to calendar event successfully",
            "schema": {
              "$ref": "#/definitions/calendar.LinkCalendarEventResponse"
            }
          },
          "400": {
            "description": "Invalid meeting ID format or request body",
            "schema": {
              "$ref": "#/definitions/calendar.LinkCalendarEventError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Meeting or calendar event not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "Calendar event already linked to another meeting",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/user/meetings/{id}/calendar/unlink": {
      "delete": {
        "security": [
          {
            "OAuth2Application": [
              "calendar:write"
            ]
          }
        ],
        "description": "Remove the link between a calendar event and a specific meeting",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Calendar"
        ],
        "summary": "Unlink calendar event from meeting",
        "parameters": [
          {
            "type": "string",
            "example": "\"123e4567-e89b-12d3-a456-426614174000\"",
            "description": "Meeting ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting unlinked from calendar event successfully",
            "schema": {
              "$ref": "#/definitions/calendar.LinkCalendarEventResponse"
            }
          },
          "400": {
            "description": "Invalid meeting ID format",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
[...]
