{
    "swagger": "2.0",
    "info": {
        "description": "Partner API for Contio MeetingOS - External partner integration endpoints",
        "title": "Contio MeetingOS Partner API",
        "termsOfService": "https://contio.ai/tos",
        "contact": {
            "name": "Contio MeetingOS Partner Support",
            "url": "https://contio.ai/contact",
            "email": "partner-support@contio.ai"
        },
        "license": {
            "name": "MIT/Commercial",
            "url": "https://docs.contio.ai/partner-api/license/"
        },
        "version": "1.4.0"
    },
    "host": "api.contio.ai",
    "basePath": "/",
    "paths": {
        "/.well-known/jwks.json": {
            "get": {
                "description": "Returns the JSON Web Key Set for token verification",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "JSON Web Key Set Endpoint",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.JWKSResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/.well-known/openid_configuration": {
            "get": {
                "description": "Returns the OpenID Connect discovery document",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "OpenID Connect Discovery Endpoint",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.DiscoveryDocument"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/initiate": {
            "post": {
                "description": "Initiates passwordless authentication for partner OAuth flow with client-specific SECRET_HASH",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "Initiate Partner Passwordless Authentication",
                "parameters": [
                    {
                        "description": "Partner authentication initiation request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/oauth.PartnerAuthInitiateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.PartnerAuthInitiateResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/auth/verify": {
            "post": {
                "description": "Verifies OTP code for partner OAuth flow with client-specific SECRET_HASH",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "Verify Partner Passwordless Authentication",
                "parameters": [
                    {
                        "description": "Partner authentication verification request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/oauth.PartnerAuthVerifyRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.PartnerAuthResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/external/partner/user/meetings/{id}/agenda-items": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "meetings:read"
                        ]
                    }
                ],
                "description": "Retrieves all agenda items for a specific meeting. Filters out items restricted to leads if the user is not an editor.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner User API"
                ],
                "summary": "Get agenda items for a meeting",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "Meeting ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user.ListResponse-user_PartnerAgendaItemResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid meeting ID",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "404": {
                        "description": "Meeting not found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/oauth2/authorize": {
            "get": {
                "description": "Handles OAuth 2.0 authorization requests for partner applications",
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "OAuth 2.0 Authorization Endpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "OAuth response type (code)",
                        "name": "response_type",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "OAuth client ID",
                        "name": "client_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "OAuth redirect URI",
                        "name": "redirect_uri",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "OAuth scopes",
                        "name": "scope",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "OAuth state parameter",
                        "name": "state",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "PKCE code challenge",
                        "name": "code_challenge",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "PKCE code challenge method",
                        "name": "code_challenge_method",
                        "in": "query"
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect to authorization URL"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Completes OAuth 2.0 authorization after user consent and returns Cognito authorization code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "Complete OAuth 2.0 Authorization",
                "parameters": [
                    {
                        "description": "OAuth consent request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/oauth.OAuthConsentRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorization completed successfully",
                        "schema": {
                            "$ref": "#/definitions/oauth.OAuthConsentResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/oauth2/check-consent": {
            "post": {
                "description": "Checks if user has already consented to the requested scopes and can skip consent page",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "Check Existing Consent",
                "parameters": [
                    {
                        "description": "Consent check request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/oauth.OAuthConsentCheckRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.OAuthConsentCheckResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/oauth2/health": {
            "get": {
                "description": "Tests connectivity to Cognito and returns service status",
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "Health Check for OAuth/Cognito Service",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.HealthResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/oauth2/introspect": {
            "post": {
                "description": "Introspects access tokens to get token information",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "OAuth 2.0 Token Introspection Endpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Access token to introspect",
                        "name": "token",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.TokenIntrospection"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/oauth2/revoke": {
            "post": {
                "description": "Revokes an access or refresh token. Per RFC 7009, returns success even for invalid tokens.",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "OAuth 2.0 Token Revocation Endpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Token to revoke",
                        "name": "token",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Hint about token type (access_token or refresh_token)",
                        "name": "token_type_hint",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token revoked successfully"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/oauth2/scopes": {
            "get": {
                "description": "Returns the list of all available OAuth scopes for partner applications",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "Get Available OAuth Scopes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.ScopesResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "description": "Exchanges authorization code for access tokens",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "OAuth 2.0 Token Endpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "OAuth grant type (authorization_code)",
                        "name": "grant_type",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Authorization code",
                        "name": "code",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "OAuth redirect URI",
                        "name": "redirect_uri",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "OAuth client ID",
                        "name": "client_id",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "OAuth client secret",
                        "name": "client_secret",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "description": "PKCE code verifier",
                        "name": "code_verifier",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.TokenResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/oauth2/userInfo": {
            "get": {
                "description": "Returns user information for the provided access token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "Get user information",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer access token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.UserInfo"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/partner/user/meetings/{meeting_id}/agenda-items": {
            "post": {
                "description": "Creates a new agenda item for a meeting. User must be a participant of the meeting.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner User API"
                ],
                "summary": "Create agenda item",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "Meeting ID",
                        "name": "meeting_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agenda item details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user.CreateAgendaItemRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Agenda item created successfully",
                        "schema": {
                            "$ref": "#/definitions/user.PartnerAgendaItemResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "403": {
                        "description": "User is not a participant of the meeting",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Meeting not found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/partner/user/meetings/{meeting_id}/agenda-items/{item_id}": {
            "put": {
                "description": "Updates an existing agenda item. User must be a participant of the meeting.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner User API"
                ],
                "summary": "Update agenda item",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "Meeting ID",
                        "name": "meeting_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "Agenda Item ID",
                        "name": "item_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Updated agenda item details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user.UpdateAgendaItemRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agenda item updated successfully",
                        "schema": {
                            "$ref": "#/definitions/user.PartnerAgendaItemResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "403": {
                        "description": "User is not a participant of the meeting",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Agenda item not found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes an agenda item. User must be a participant of the meeting.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner User API"
                ],
                "summary": "Delete agenda item",
                "parameters": [
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "Meeting ID",
                        "name": "meeting_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "Agenda Item ID",
                        "name": "item_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Agenda item deleted successfully"
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "403": {
                        "description": "User is not a participant of the meeting",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Agenda item not found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/app": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retrieves information about the authenticated partner app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get partner app information",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.PartnerAppResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Updates partner app details like name, description, and webhook URL",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Update partner app",
                "parameters": [
                    {
                        "description": "Update app request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.UpdateAppRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.PartnerAppResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/app/status": {
            "put": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Updates the status of the authenticated partner app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Update partner app status",
                "parameters": [
                    {
                        "description": "Status update request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.UpdateAppStatusRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.PartnerAppResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/connections": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retrieves user connections for the authenticated partner app with pagination and filtering",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get user connections",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Limit",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "\"123e4567-e89b-12d3-a456-426614174000\"",
                        "description": "Filter by user ID",
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "active",
                            "revoked",
                            "expired"
                        ],
                        "type": "string",
                        "description": "Filter by connection status",
                        "name": "status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.ListResponse-admin_UserConnectionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/connections/{connectionId}": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retrieves a specific user connection by ID if it belongs to the authenticated partner app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get user connection by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Connection ID",
                        "name": "connectionId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.UserConnectionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Revokes a user connection by ID if it belongs to the authenticated partner app",
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Revoke user connection",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Connection ID",
                        "name": "connectionId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/credentials": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Returns the status, age, and health information for all partner credentials",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get credential status",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/admin.CredentialStatusResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/credentials/api-key/rotate": {
            "post": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Rotates the API key with optional grace period",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Rotate API key",
                "parameters": [
                    {
                        "description": "Rotation request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.CredentialRotationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.CredentialRotationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/credentials/client-secret/rotate": {
            "post": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Rotates the client secret with optional grace period",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Rotate client secret",
                "parameters": [
                    {
                        "description": "Rotation request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.CredentialRotationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.CredentialRotationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/credentials/history": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Returns the audit history for credential operations",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get audit history",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Number of events to return",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Number of events to skip",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by credential type",
                        "name": "credential_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/credentials/webhook-secret/rotate": {
            "post": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Rotates the webhook secret with optional grace period",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Rotate webhook secret",
                "parameters": [
                    {
                        "description": "Rotation request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.CredentialRotationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.CredentialRotationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/idp": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retrieves the OIDC IdP configuration for the authenticated partner app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get IdP configuration",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.IdPConfigResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Updates the OIDC IdP configuration for the authenticated partner app. Note: idp_client_id and idp_client_secret are the OIDC credentials from your Identity Provider (e.g., Okta, Azure AD), NOT your Contio Partner OAuth credentials.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Update IdP configuration",
                "parameters": [
                    {
                        "description": "IdP configuration update data",
                        "name": "config",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.UpdateIdPConfigRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.IdPConfigResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Creates a new OIDC IdP configuration for the authenticated partner app. Note: idp_client_id and idp_client_secret are the OIDC credentials from your Identity Provider (e.g., Okta, Azure AD), NOT your Contio Partner OAuth credentials.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Create IdP configuration",
                "parameters": [
                    {
                        "description": "IdP configuration data",
                        "name": "config",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.CreateIdPConfigRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/admin.IdPConfigResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Deletes the OIDC IdP configuration for the authenticated partner app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Delete IdP configuration",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/webhook-deliveries": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retrieves webhook deliveries for the authenticated partner app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "List webhook deliveries",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.WebhookDeliveriesResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/webhook-deliveries/{deliveryId}": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retrieves a specific webhook delivery by ID",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get webhook delivery",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Webhook Delivery ID",
                        "name": "deliveryId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.WebhookDeliveryResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/webhook-deliveries/{deliveryId}/retry": {
            "post": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retries a failed webhook delivery",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Retry webhook delivery",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Webhook Delivery ID",
                        "name": "deliveryId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/workflows": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retrieves all workflows for the authenticated partner app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get workflows",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Limit",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.ListResponse-admin_WorkflowResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Creates a new workflow for action item matching",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Create a new workflow",
                "parameters": [
                    {
                        "description": "Workflow data",
                        "name": "workflow",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.CreateWorkflowRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/admin.WorkflowResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request body or validation error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/admin/workflows/{workflowId}": {
            "get": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Retrieves a specific workflow by ID for the authenticated partner app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Get workflow by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workflow ID",
                        "name": "workflowId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.WorkflowResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid workflow ID",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Workflow not found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Updates a specific workflow for the authenticated partner app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Update workflow",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workflow ID",
                        "name": "workflowId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Workflow update data",
                        "name": "workflow",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/admin.UpdateWorkflowRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/admin.WorkflowResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request body or validation error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Workflow not found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "PartnerAPIKeyAuth": []
                    },
                    {
                        "PartnerClientIdAuth": []
                    }
                ],
                "description": "Deletes a workflow by ID",
                "tags": [
                    "Partner Admin"
                ],
                "summary": "Delete workflow",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Workflow ID",
                        "name": "workflowId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.PartnerErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/info/{client_id}/public": {
            "get": {
                "description": "Returns safe public partner app information for display in OAuth login/consent pages. This endpoint does not require client authentication and only returns safe public information like name and company.",
                "tags": [
                    "Partner OAuth"
                ],
                "summary": "Get Public Partner Information by Client ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Partner Client ID",
                        "name": "client_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.PartnerInfoResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/sso/callback": {
            "get": {
                "description": "Handles the OIDC callback from the partner's identity provider. Exchanges the authorization code for tokens, validates the ID token, and provisions or authenticates the user.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner SSO"
                ],
                "summary": "Handle partner SSO callback",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authorization code from IdP",
                        "name": "code",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "State parameter for session validation",
                        "name": "state",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Error code if authentication failed",
                        "name": "error",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Error description if authentication failed",
                        "name": "error_description",
                        "in": "query"
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect to application after successful authentication",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid request or authentication error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "401": {
                        "description": "Authentication failed",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/v1/partner/sso/info/{slug}": {
            "get": {
                "description": "Returns partner branding and SSO configuration status for landing pages. This endpoint is publicly accessible and rate-limited.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner SSO"
                ],
                "summary": "Get partner SSO information",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Partner slug",
                        "name": "slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Partner SSO information returned",
                        "schema": {
                            "$ref": "#/definitions/sso.PartnerSSOInfoResponse"
                        }
                    },
                    "404": {
                        "description": "Partner not found",
                        "schema": {
                            "$ref": "#/definitions/sso.ErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "schema": {
                            "$ref": "#/definitions/sso.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/sso/initiate": {
            "get": {
                "description": "Starts the SSO authentication flow for a partner's identity provider. Looks up the partner by slug, retrieves IdP configuration, generates PKCE parameters, and returns an authorization URL.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner SSO"
                ],
                "summary": "Initiate partner SSO flow",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Partner app slug",
                        "name": "slug",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "web",
                            "desktop",
                            "backlog"
                        ],
                        "type": "string",
                        "description": "Target platform: web (default), desktop, backlog, or meeting:{id}",
                        "name": "target",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Auto-redirect to authorization URL",
                        "name": "auto",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorization URL and session ID",
                        "schema": {
                            "$ref": "#/definitions/sso.InitiateResponse"
                        }
                    },
                    "302": {
                        "description": "Redirect to authorization URL (when auto=true)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Partner not found or IdP not configured",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/v1/partner/sso/session/{session_id}": {
            "get": {
                "description": "Returns the current status of a partner SSO session for polling. Used by clients to check if authentication has completed.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner SSO"
                ],
                "summary": "Get partner SSO session status",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Session ID",
                        "name": "session_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Session status",
                        "schema": {
                            "$ref": "#/definitions/sso.SessionStatusResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid session ID",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "404": {
                        "description": "Session not found",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "/v1/partner/user/action-items": {
            "get": {
                "security": [
                    {
                        "OAuth2Application": [
                            "action-items:read"
                        ]
                    }
                ],
                "description": "Retrieves action items accessible to the authenticated partner user",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner User API"
                ],
                "summary": "Get action items",
                "parameters": [
                    {
                        "type": "integer",
                        "default": 50,
                        "description": "Limit",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 0,
                        "description": "Offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "\"123e4567-e89b-12d3-a456-426614174000\"",
                        "description": "Filter by meeting ID",
                        "name": "meeting_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by completion status",
                        "name": "is_completed",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Filter by partner assignment",
                        "name": "has_partner_assignment",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user.ListResponse-user_PartnerActionItemResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request parameters",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "OAuth2Application": [
                            "action-items:write"
                        ]
                    }
                ],
                "description": "Creates a new action item on behalf of the authenticated user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Partner User API"
                ],
                "summary": "Create action item",
                "parameters": [
                    {
                        "description": "Action item data",
                        "name": "action_item",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user.CreateActionItemRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/user.PartnerActionItemResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Authentication required",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/v1/partner/user/action-items/{id}": {
            "get": {
                "security": [
                    {
[...]
