{
  "swagger": "2.0",
  "info": {
    "description": "Partner API for Contio MeetingOS - External partner integration endpoints",
    "title": "Contio MeetingOS Partner API",
    "termsOfService": "https://contio.ai/tos",
    "contact": {
      "name": "Contio MeetingOS Partner Support",
      "url": "https://contio.ai/contact",
      "email": "partner-support@contio.ai"
    },
    "license": {
      "name": "MIT/Commercial",
      "url": "https://docs.contio.ai/partner-api/license/"
    },
    "version": "1.4.7"
  },
  "host": "api.contio.ai",
  "basePath": "/",
  "paths": {
    "/.well-known/jwks.json": {
      "get": {
        "description": "Returns the JSON Web Key Set for token verification",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "JSON Web Key Set Endpoint",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.JWKSResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/.well-known/openid_configuration": {
      "get": {
        "description": "Returns the OpenID Connect discovery document",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OpenID Connect Discovery Endpoint",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.DiscoveryDocument"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/auth/initiate": {
      "post": {
        "description": "Initiates passwordless authentication for partner OAuth flow with client-specific SECRET_HASH. Supports optional workspace_id to provision users into a shared workspace instead of creating a personal one, and is_admin to grant admin role in that workspace.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Initiate Partner Passwordless Authentication",
        "parameters": [
          {
            "description": "Partner authentication initiation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth.PartnerAuthInitiateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.PartnerAuthInitiateResponse"
            }
          },
          "400": {
            "description": "Invalid request format or workspace_id is not a valid UUID",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "403": {
            "description": "Workspace does not belong to this partner (workspace_not_authorized)",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Specified workspace_id does not exist (workspace_not_found)",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "User already belongs to a different workspace (workspace_conflict). Includes workspace_id field.",
            "schema": {
              "$ref": "#/definitions/errors.PartnerConflictErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "description": "Verifies OTP code for partner OAuth flow with client-specific SECRET_HASH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Verify Partner Passwordless Authentication",
        "parameters": [
          {
            "description": "Partner authentication verification request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth.PartnerAuthVerifyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.PartnerAuthResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/authorize": {
      "get": {
        "description": "Handles OAuth 2.0 authorization requests for partner applications",
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OAuth 2.0 Authorization Endpoint",
        "parameters": [
          {
            "type": "string",
            "description": "OAuth response type (code)",
            "name": "response_type",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth client ID",
            "name": "client_id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth redirect URI",
            "name": "redirect_uri",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth scopes",
            "name": "scope",
            "in": "query"
          },
          {
            "type": "string",
            "description": "OAuth state parameter",
            "name": "state",
            "in": "query"
          },
          {
            "type": "string",
            "description": "PKCE code challenge",
            "name": "code_challenge",
            "in": "query"
          },
          {
            "type": "string",
            "description": "PKCE code challenge method",
            "name": "code_challenge_method",
            "in": "query"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to authorization URL"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "description": "Completes OAuth 2.0 authorization after user consent and returns Cognito authorization code",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Complete OAuth 2.0 Authorization",
        "parameters": [
          {
            "description": "OAuth consent request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth.OAuthConsentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization completed successfully",
            "schema": {
              "$ref": "#/definitions/oauth.OAuthConsentResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/oauth2/check-consent": {
      "post": {
        "description": "Checks if user has already consented to the requested scopes and can skip consent page",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Check Existing Consent",
        "parameters": [
          {
            "description": "Consent check request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/oauth.OAuthConsentCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.OAuthConsentCheckResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/health": {
      "get": {
        "description": "Tests connectivity to Cognito and returns service status",
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Health Check for OAuth/Cognito Service",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.HealthResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/introspect": {
      "post": {
        "description": "Introspects access tokens to get token information",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OAuth 2.0 Token Introspection Endpoint",
        "parameters": [
          {
            "type": "string",
            "description": "Access token to introspect",
            "name": "token",
            "in": "formData",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.TokenIntrospection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "description": "Revokes an access or refresh token. Per RFC 7009, returns success even for invalid tokens.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OAuth 2.0 Token Revocation Endpoint",
        "parameters": [
          {
            "type": "string",
            "description": "Token to revoke",
            "name": "token",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Hint about token type (access_token or refresh_token)",
            "name": "token_type_hint",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "Token revoked successfully"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/scopes": {
      "get": {
        "description": "Returns the list of all available OAuth scopes for partner applications",
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Get Available OAuth Scopes",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/oauth.ScopesResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "description": "Exchanges authorization code for access tokens",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "OAuth 2.0 Token Endpoint",
        "parameters": [
          {
            "type": "string",
            "description": "OAuth grant type (authorization_code)",
            "name": "grant_type",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Authorization code",
            "name": "code",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth redirect URI",
            "name": "redirect_uri",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth client ID",
            "name": "client_id",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "OAuth client secret",
            "name": "client_secret",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "PKCE code verifier",
            "name": "code_verifier",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.TokenResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/oauth2/userInfo": {
      "get": {
        "description": "Returns user information for the provided access token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "OAuth 2.0"
        ],
        "summary": "Get user information",
        "parameters": [
          {
            "type": "string",
            "description": "Bearer access token",
            "name": "Authorization",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_oauth.UserInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.ErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/action-buttons": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Returns a paginated list of action buttons for the partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Action Buttons"
        ],
        "summary": "List action buttons",
        "parameters": [
          {
            "type": "integer",
            "default": 25,
            "description": "Maximum number of items to return",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Number of items to skip",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_shared.ListResponse-action_button_ActionButtonResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Creates a new action button for the partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Action Buttons"
        ],
        "summary": "Create action button",
        "parameters": [
          {
            "description": "Action button details",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/action_button.CreateActionButtonRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/action_button.ActionButtonResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "Conflict - a default action button already exists",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/action-buttons/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieves a single action button by ID for the partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Action Buttons"
        ],
        "summary": "Get action button",
        "parameters": [
          {
            "type": "string",
            "description": "Action button ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/action_button.ActionButtonResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Updates an existing action button for the partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Action Buttons"
        ],
        "summary": "Update action button",
        "parameters": [
          {
            "type": "string",
            "description": "Action button ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Action button update details",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/action_button.UpdateActionButtonRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/action_button.ActionButtonResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Action button not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "Conflict - a default action button already exists",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Soft-deletes an action button for the partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Action Buttons"
        ],
        "summary": "Delete action button",
        "parameters": [
          {
            "type": "string",
            "description": "Action button ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/app": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves information about the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "App Management"
        ],
        "summary": "Get partner app information",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/shared.PartnerAppResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates partner app details like name, description, and webhook URL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "App Management"
        ],
        "summary": "Update partner app",
        "parameters": [
          {
            "description": "Update app request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/app_management.UpdateAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/shared.PartnerAppResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/app_management.UpdateAppError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/app/status": {
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates the status of the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "App Management"
        ],
        "summary": "Update partner app status",
        "parameters": [
          {
            "description": "Status update request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/app_management.UpdateAppStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/shared.PartnerAppResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/app_management.UpdateAppStatusError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/connections": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves user connections for the authenticated partner app with pagination and filtering",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Connection Management"
        ],
        "summary": "Get user connections",
        "parameters": [
          {
            "type": "integer",
            "default": 50,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "example": "\"123e4567-e89b-12d3-a456-426614174000\"",
            "description": "Filter by user ID",
            "name": "user_id",
            "in": "query"
          },
          {
            "enum": [
              "active",
              "revoked",
              "expired"
            ],
            "type": "string",
            "description": "Filter by connection status",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_shared.ListResponse-connection_UserConnectionResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/connections/{connectionId}": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a specific user connection by ID if it belongs to the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Connection Management"
        ],
        "summary": "Get user connection by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Connection ID",
            "name": "connectionId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/connection.UserConnectionResponse"
            }
          },
          "400": {
            "description": "Invalid connection ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Connection not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Revokes a user connection by ID if it belongs to the authenticated partner app",
        "tags": [
          "Connection Management"
        ],
        "summary": "Revoke user connection",
        "parameters": [
          {
            "type": "string",
            "description": "Connection ID",
            "name": "connectionId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid connection ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Connection not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Returns the status, age, and health information for all partner credentials",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Get credential status",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/credential.CredentialStatusResponse"
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/api-key/rollback": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Restores the API key to the prior value after rotation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rollback API key",
        "parameters": [
          {
            "description": "Rollback request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/credential.CredentialRollbackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rollback successful"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/api-key/rotate": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Rotates the API key with optional grace period",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rotate API key",
        "parameters": [
          {
            "description": "Rotation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/credential.CredentialRotationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/credential.CredentialRotationResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/credential.RotateAPIKeyError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/client-secret/rollback": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Restores the client secret to the prior value after rotation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rollback Client secret",
        "parameters": [
          {
            "description": "Rollback request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/credential.CredentialRollbackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rollback successful"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/client-secret/rotate": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Rotates the client secret with optional grace period",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rotate client secret",
        "parameters": [
          {
            "description": "Rotation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/credential.CredentialRotationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/credential.CredentialRotationResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/credential.RotateClientSecretError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/history": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Returns the audit history for credential operations",
        "produces": [
          "application/json"
        ],
        "tags": [
          "App Management"
        ],
        "summary": "Get audit history",
        "parameters": [
          {
            "type": "integer",
            "default": 20,
            "description": "Number of events to return",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Number of events to skip",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by credential type",
            "name": "credential_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/credentials/webhook-secret/rotate": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Rotates the webhook secret with optional grace period",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Credential Management"
        ],
        "summary": "Rotate webhook secret",
        "parameters": [
          {
            "description": "Rotation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/credential.CredentialRotationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/credential.CredentialRotationResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/credential.RotateWebhookSecretError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/idp": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves the OIDC IdP configuration for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "IdP Management"
        ],
        "summary": "Get IdP configuration",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/idp.IdPConfigResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates the OIDC IdP configuration for the authenticated partner app. Note: idp_client_id and idp_client_secret are the OIDC credentials from your Identity Provider (e.g., Okta, Azure AD), NOT your Contio Partner OAuth credentials.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "IdP Management"
        ],
        "summary": "Update IdP configuration",
        "parameters": [
          {
            "description": "IdP configuration update data",
            "name": "config",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/idp.UpdateIdPConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/idp.IdPConfigResponse"
            }
          },
          "400": {
            "description": "Invalid request body or validation error",
            "schema": {
              "$ref": "#/definitions/idp.UpdateIdPConfigError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "IdP config not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "Domain already claimed",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Creates a new OIDC IdP configuration for the authenticated partner app. Note: idp_client_id and idp_client_secret are the OIDC credentials from your Identity Provider (e.g., Okta, Azure AD), NOT your Contio Partner OAuth credentials.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "IdP Management"
        ],
        "summary": "Create IdP configuration",
        "parameters": [
          {
            "description": "IdP configuration data",
            "name": "config",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/idp.CreateIdPConfigRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/idp.IdPConfigResponse"
            }
          },
          "400": {
            "description": "Invalid request body or validation error",
            "schema": {
              "$ref": "#/definitions/idp.CreateIdPConfigError400"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "409": {
            "description": "IdP config already exists",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Deletes the OIDC IdP configuration for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "IdP Management"
        ],
        "summary": "Delete IdP configuration",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/next-steps": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a paginated list of next steps for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Next Steps"
        ],
        "summary": "List next steps",
        "parameters": [
          {
            "type": "integer",
            "default": 50,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_shared.ListResponse-next_step_NextStepResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Creates a new next step for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Next Steps"
        ],
        "summary": "Create a next step",
        "parameters": [
          {
            "description": "Next step creation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/next_step.CreateNextStepRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/next_step.NextStepResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/next-steps/{nextStepId}": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a specific next step by ID for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Next Steps"
        ],
        "summary": "Get a next step",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Next Step ID",
            "name": "nextStepId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/next_step.NextStepResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Next step not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates an existing next step for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Next Steps"
        ],
        "summary": "Update a next step",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Next Step ID",
            "name": "nextStepId",
            "in": "path",
            "required": true
          },
          {
            "description": "Update next step request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/next_step.UpdateNextStepRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/next_step.NextStepResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Next step not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Deletes a next step for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Next Steps"
        ],
        "summary": "Delete a next step",
        "parameters": [
          {
            "type": "string",
            "format": "uuid",
            "description": "Next Step ID",
            "name": "nextStepId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Next step not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/next-steps/{nextStepId}/action-buttons": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves all action buttons associated with a next step for the partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Template Management"
        ],
        "summary": "Get action buttons for a next step",
        "parameters": [
          {
            "type": "string",
            "description": "Next step ID",
            "name": "nextStepId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_shared.ListResponse-next_step_action_button_NextStepActionButtonResponse"
            }
          },
          "400": {
            "description": "Invalid next step ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Next step not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Adds an action button to a next step for the partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Template Management"
        ],
        "summary": "Add action button to next step",
        "parameters": [
          {
            "type": "string",
            "description": "Next step ID",
            "name": "nextStepId",
            "in": "path",
            "required": true
          },
          {
            "description": "Action button association details",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/next_step_action_button.AddActionButtonToNextStepRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action button added successfully"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Next step or action button not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/next-steps/{next_step_id}/action-buttons/{action_button_id}": {
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Removes an action button from a next step. The action button must belong to the partner.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Template Management"
        ],
        "summary": "Remove action button from next step",
        "parameters": [
          {
            "type": "string",
            "description": "Next step ID (UUID format)",
            "name": "next_step_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Action button ID (UUID format)",
            "name": "action_button_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Action button removed from next step"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Next step or action button not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/next-steps/{next_step_id}/default-action-button": {
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Sets an action button as the default for a next step. The action button must already be associated with the next step.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Template Management"
        ],
        "summary": "Set default action button for next step",
        "parameters": [
          {
            "type": "string",
            "description": "Next step ID (UUID format)",
            "name": "next_step_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Default action button request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/next_step_action_button.SetDefaultActionButtonRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Default action button set"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Next step or action button not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/templates": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a paginated list of templates for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "List templates",
        "parameters": [
          {
            "type": "integer",
            "default": 50,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_shared.ListResponse-template_TemplateResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Creates a new template for the authenticated partner app. Optionally, provide a backing_meeting_id to clone content from an existing meeting.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "Create a template",
        "parameters": [
          {
            "description": "Template creation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/template.CreateTemplateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/template.TemplateResponse"
            }
          },
          "400": {
            "description": "Invalid request body or backing meeting validation error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "403": {
            "description": "Partner does not have access to the backing meeting's workspace",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/templates/{templateId}": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a template for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "Get a template",
        "parameters": [
          {
            "type": "string",
            "description": "Template ID",
            "name": "templateId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/template.TemplateResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Template not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates a template for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "Update a template",
        "parameters": [
          {
            "type": "string",
            "description": "Template ID",
            "name": "templateId",
            "in": "path",
            "required": true
          },
          {
            "description": "Template update request",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/template.UpdateTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/template.TemplateResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Template not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Deletes a template for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "Delete a template",
        "parameters": [
          {
            "type": "string",
            "description": "Template ID",
            "name": "templateId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Template deleted"
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Template not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/templates/{templateId}/next-steps": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Returns the next steps for a template for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "Get template next steps",
        "parameters": [
          {
            "type": "string",
            "description": "Template ID",
            "name": "templateId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_shared.ListResponse-template_TemplateNextStepResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Template not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Adds a next step to a template for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "Add next step to template",
        "parameters": [
          {
            "type": "string",
            "description": "Template ID",
            "name": "templateId",
            "in": "path",
            "required": true
          },
          {
            "description": "Add to template request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/template.AddToTemplateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Next step added to template successfully"
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Template or next step not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/templates/{templateId}/next-steps/{nextStepId}": {
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates the autopilot flag for a next step in a template",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "Update template next step association",
        "parameters": [
          {
            "type": "string",
            "description": "Template ID",
            "name": "templateId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Next Step ID",
            "name": "nextStepId",
            "in": "path",
            "required": true
          },
          {
            "description": "Update template next step request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/template.UpdateTemplateNextStepRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template next step association updated successfully"
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Template or next step not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Removes a next step from a template for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Partner Admin - Templates"
        ],
        "summary": "Remove next step from template",
        "parameters": [
          {
            "type": "string",
            "description": "Template ID",
            "name": "templateId",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Next Step ID",
            "name": "nextStepId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Next step removed from template successfully"
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Template or next step not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/toolkits": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves all toolkits for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Toolkit Management"
        ],
        "summary": "Get toolkits",
        "parameters": [
          {
            "type": "integer",
            "default": 50,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_user_shared.ListResponse-rome_api_controllers_external_partner_admin_toolkit_ToolkitResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Creates a new toolkit for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Toolkit Management"
        ],
        "summary": "Create a toolkit",
        "parameters": [
          {
            "description": "Toolkit creation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/toolkit.CreateToolkitRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_toolkit.ToolkitResponse"
            }
          },
          "400": {
            "description": "Invalid request body",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/toolkits/{toolkitId}": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a toolkit by ID for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Toolkit Management"
        ],
        "summary": "Get a toolkit",
        "parameters": [
          {
            "type": "string",
            "description": "Toolkit ID",
            "name": "toolkitId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_toolkit.ToolkitResponse"
            }
          },
          "400": {
            "description": "Invalid toolkit ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Toolkit not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Updates an existing toolkit for the authenticated partner app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Toolkit Management"
        ],
        "summary": "Update a toolkit",
        "parameters": [
          {
            "type": "string",
            "description": "Toolkit ID",
            "name": "toolkitId",
            "in": "path",
            "required": true
          },
          {
            "description": "Toolkit update request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/toolkit.UpdateToolkitRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rome_api_controllers_external_partner_admin_toolkit.ToolkitResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Toolkit not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Deletes a toolkit for the authenticated partner app",
        "tags": [
          "Toolkit Management"
        ],
        "summary": "Delete a toolkit",
        "parameters": [
          {
            "type": "string",
            "description": "Toolkit ID",
            "name": "toolkitId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Toolkit deleted"
          },
          "400": {
            "description": "Invalid toolkit ID",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Toolkit not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-deliveries": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves webhook deliveries for the authenticated partner app",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "List webhook deliveries",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by delivery status (pending, delivered, failed, abandoned)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by event type (e.g., meeting.created, workflow.assignment.created)",
            "name": "event_type",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Maximum number of results to return (default 50, max 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Number of results to skip (default 0)",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/webhook.WebhookDeliveriesResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-deliveries/{deliveryId}": {
      "get": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retrieves a specific webhook delivery by ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "Get webhook delivery",
        "parameters": [
          {
            "type": "string",
            "description": "Webhook Delivery ID",
            "name": "deliveryId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/webhook.WebhookDeliveryResponse"
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Webhook delivery not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-deliveries/{deliveryId}/retry": {
      "post": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
          },
          {
            "PartnerClientIdAuth": []
          }
        ],
        "description": "Retries a failed webhook delivery",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Webhook Management"
        ],
        "summary": "Retry webhook delivery",
        "parameters": [
          {
            "type": "string",
            "description": "Webhook Delivery ID",
            "name": "deliveryId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Authentication required",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "404": {
            "description": "Webhook delivery not found",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/errors.PartnerErrorResponse"
            }
          }
        }
      }
    },
    "/v1/partner/admin/webhook-filter": {
      "put": {
        "security": [
          {
            "PartnerAPIKeyAuth": []
[...]
